# Ignore Python virtual environment folders
.venv/
super_venv/

# Common Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Other ignored files, such as editor settings
.vscode/
.idea/
*.egg-info/
.csv/
.xlsx
